<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3NdP2L1gRKk1GFec0ldra2fxHQIl-zsU</string>
	<key>GCM_SENDER_ID</key>
	<string>455805989708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-9c443</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-9c443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455805989708:ios:9eb6ea515a6f95175315e9</string>
</dict>
</plist>